.listings
  - @listings.each do |listing|
    .box
      = image_tag(listing.images.first)
      .listing-box-shadow
        .listing-info
          = link_to listing.title, listing_path(listing), class: "listing-title"
          = link_to listing.description, user_path(listing.user), class: "author"
          %p Vancouver, WA