// Clearfix Mixin
@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

body {
  margin: 0;
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background: #fbfbfb;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #5F6368;
}

nav {
  padding-top: 20px;
  border-bottom: 1px solid #eee;
  background: #FFFFFF;
}

.nav-container {
  width: 1080px;
  margin: 0 auto;
  @include clearfix;
}

.nav-left {
  float: left;
  position: relative;
}

.logo {
  margin: 9px 20px 7px 0;
  position: absolute;
  left: -120px;

  img {
    width: 100px;
    height: auto;
    vertical-align: middle;
  }
}

p {
  margin: 0;
  padding: 0;
}

.nav-inputs {
  float: left;

  input {
    padding: 12px 22px;
    border: 1px solid #DDDDDD;
    font-size: .9rem;
    color: #0a0a0a;
    float: left;

    &:focus {
      outline: none;
    }
  
    &::placeholder {
      color: #ddd;
    }
  }

  .search {
    width: 350px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }

  .location {
    width: 200px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.nav-right {
  float: right;
  height: 43px;
}

.dropdown {
  float: right;

  a {
    display: inline-block;
    padding: 13px 10px;
    color: #0a0a0a;
    font-size: .9rem;
  }
} 

.nav-categories {
  float: left;
  margin-top: 20px;
  width: 100%;

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  li {
    display: inline-block;
    margin-right: 10px;
    position: relative;
    
    img {
      margin-right: 8px;
      height: 16px;
      color: #5F6368;
      vertical-align: middle;
    }

    &:hover a {
      color: #1279FB;
    }

    &:hover img {
      fill: #1279FB;
    }
  }

  a {
    text-decoration: none;
    font-size: .9rem;
    padding: 5px 5px 14px;
    display: inline-block;
    font-weight: light;
  }

  li:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #1279FB;
    transform: scaleX(0);
    transform-origin: bottom;
  }
  
  li:hover::after {
    transform: scaleX(1);
    transform-origin: top;
  }
}